.btn-coffee {
  --bs-btn-color: #3f3939;
  --bs-btn-bg: #C5886E;
  --bs-btn-border-color:#C5886E;
  --bs-btn-hover-color: #3f3939;
  --bs-btn-hover-bg: #C5886E;
  --bs-btn-hover-border-color: #3f3939;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d39a82;
  --bs-btn-active-border-color: #b4aeac;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(253, 252, 252);
  --bs-btn-disabled-bg: gray;
  --bs-btn-disabled-border-color: gray;
}

.btn-letucce {
  --bs-btn-color: #3f3939;
  --bs-btn-bg: #B3E59F;
  --bs-btn-border-color:#B3E59F;
  --bs-btn-hover-color: #33302e;
  --bs-btn-hover-bg: #B3E59F;
  --bs-btn-hover-border-color: #3f3939;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c4f1b2;
  --bs-btn-active-border-color: #c4f1b2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(253, 252, 252);
  --bs-btn-disabled-bg: gray;
  --bs-btn-disabled-border-color: rgb(39, 36, 36);
}