@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;500;600;700;800&display=swap');

.table-scroll {
  position: relative;
  width:100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: calc(100dvh - 454px);

  table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
  }

    
  th, td {
    padding: 5px 10px;
    background: #F8E6DE;
    vertical-align: top;
  }

  thead th {
    background: #F8E6DE;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: 700;
    font-family: Work Sans;
    border-radius: 10px 10px 0px 0px;
  }

  /* safari and ios need the tfoot itself to be position:sticky also */
  tfoot, tfoot th, tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    color: black;
    font-weight: 700;
    font-family: Work Sans;
    z-index:4;
  }
  
  tfoot > tr > td{
    box-shadow: 0 0.25rem 0.25rem 0 rgba(78, 73, 71, 0.2);
  }
    
  th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background: #F8E6DE;
  }
  thead th:first-child,
  tfoot th:first-child {
    z-index: 5;
  }

  tfoot > tr > td:first-child {
    border-radius: 0px 0px 0px 10px;
  }

  tfoot > tr > td:last-child {
    border-radius: 0px 0px 10px 0px;
  }

  tfoot > tr > td {
    background: #F8E6DE;
  }



    
  .col50{
    width: 50%;
  }

  .col16{
    width: calc(50% / 3);
  }

  .btn-order{
    background:none;
    border: 2px solid #e9aea0;
    border-radius: 5px;
    color: #e9aea0;
    font-weight: bolder;
  
  }
  
}

.table-wrap {
  position: relative;
}

