body {
  background-color: #FEFBF7;
}

input.form-control {
  border: 1px solid #B2513C;
  height: 40px;
}

.form-control:focus {
  border-color: #fea886;
  box-shadow: 0 0 0 0.25rem rgba(136, 52, 19, 0.25);
}

.btn-mustard {
  --bs-btn-color: #3f3939;
  --bs-btn-bg: #F0CA43;
  --bs-btn-border-color: #F0CA43;
  --bs-btn-hover-color: #ad9231;
  --bs-btn-hover-bg: #fadb6d;
  --bs-btn-hover-border-color: #fadb6d;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffdf6c;
  --bs-btn-active-border-color: #ffdf6c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: gray;
  --bs-btn-disabled-bg: #b8ab7d;
  --bs-btn-disabled-border-color: #b8ab7d;
}
